#Header {
    background-image: url('../images/firstBG.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height:max-content;
    width: 100%;
}
#Header .logos{
    color: #fff;
}

#Header .logos span{
    margin-right: 10px;
}
#Header .logos span a {
    text-decoration: none;
    font-size: 10px;
}
.box{
    box-shadow: 2px 2px 2px 2px #ddd;
    background-color: #fff;
}

.form-group {
    margin-top: 15px;
}
.btn {
    border-radius: 20px;
    padding: 5px 30px;
}
.bannerHeading {
    color: #fff;
}
 .label{
    width: max-content;
  padding: 0 20px;
  border-radius: 50px;
    background-color: #ddd;
    color: red;
}
#aboutHome .logos{
    margin: 100px  20px;
}
#aboutHome .logos .b3{
    color: blueviolet;
}
#aboutHome .mercy{
font-size: 1.5em;
margin-top: -15px;
margin-left: 25px;
}
#aboutHome .mercy b{
    color: rgb(21, 5, 30);

}

 .logos  .b1{
    margin-top: -20px;
    color: rgb(21, 5, 30);
    font-size: 1.9em;
}
 .logos  .b2{
    margin-top: -20px;
    color: rgb(21, 5, 30);
    font-size: 1em;
}
.logos  .b3{
    font-size: 0.9em;
}
#aboutHome .logos i{
    color: rgb(21, 5, 30);
}
#icons p {
   background-color: #ddd;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   text-align: center;
   padding-top: 8px;
   color: green;
}
.secondDiv{
    background-color: rgb(21, 5, 30);
margin-top: 25px;
    height: max-content;
}
.secondDiv h6 {
    color:#fff;
}
.secondDiv p {
    color: #fff;
}
.secondDiv  aside{
    color: #ddd;
    font-size: 0.9em;
}
.secondDiv a {
    text-decoration: none;
}
#keyFacts span {
    background-color: rgb(21, 5, 30);
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
}
#commentDiv i{
    color: orange;
}
#commentDiv h3 {
    text-align: center;
    text-justify: inter-word;
}
#commentDiv .clientIcons img{
    width: 100px;
    height: 100px;
}
#commentDiv img{
    width: 100%;
    height: 100%;
}
#galleryDiv img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#footerDiv{
    background-color: rgb(21, 5, 30);
}
#footerDiv .logos{
    color: #fff;
}
#footerDiv p {
    color: #fff;
    font-weight: 550;
}
#footerDiv span{
color: #ddd;
}
.dashboardcountry .dot{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-flex;
    margin-left: 15px;
}
.dashboardcountry{
  display: inline-flex;
  flex-flow: wrap;
}
.dashboardcountry aside{
    font-size: 0.8em;
}